main {
	min-height: 80vh;
}

.ml-sm-5 {
	margin-left: 3rem;
}

.p-2 {
	padding: 0.5rem;
}

.mr-sm-2 {
	margin-right: 0.5rem;
}

.navbar-logo {
	max-width: 100px;
	max-height: 100px;
	object-fit: contain;
}

h3 {
	padding: 1rem 0;
}

h1 {
	font-size: 1.8rem;
	padding: 1rem 0;
}

h2 {
	font-size: 1.4rem;
	padding: 0.5rem 0;
}

.rating span {
	margin: 0.1rem;
}

.btn-block {
	display: block;
	width: 100%;
	align-items: center;
	justify-content: center;
}
.btn-block + .btn-block {
	margin-top: 0.5rem;
}
input[type='submit'].btn-block,
input[type='reset'] .btn-block,
input[type='button'] .btn-block {
	width: 100%;
}

.text-right {
	text-align: right;
}

@media screen {
}

/* carousel */
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
	display: flex;
}

.carousel-caption {
	position: absolute;
	top: 0;
}

.carousel-caption h2 {
	color: #fff;
}

.carousel img {
	height: 300px;
	padding: 30px;
	margin: 40px;
	border-radius: 50%;
}

.carousel a {
	margin: 0 auto;
}
