main {
	min-height: 80vh;
}



.navbar-logo {
	max-width: 100px;
	max-height: 100px;
	object-fit: contain;
}

h3 {
	padding: 1rem 0;
}

h1 {
	font-size: 1.8rem;
	padding: 1rem 0;
}

h2 {
	font-size: 1.4rem;
	padding: 0.5rem 0;
}

.rating span {
	margin: 0.1rem;
}

.btn-block {
	display: block;
	width: 100%;
	align-items: center;
	justify-content: center;
}
.btn-block + .btn-block {
	margin-top: 0.5rem;
}
input[type='submit'].btn-block,
input[type='reset'] .btn-block,
input[type='button'] .btn-block {
	width: 100%;
}

.text-right {
	text-align: right;
}

@media screen {
}
